<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titolo}}</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    {{> header }}
    <h1>ciao {{nome}}</h1> 
    <a href="/about">about</a>
    <h2>il titolo è: {{titolo}}</h2>
    <p>il mio animale preferito è <b>{{myPreference.pet}}</b></p>
    <p>la mia stagione preferita è <b>{{myPreference.season}}</b></p>
    <p>il mio colore preferito è <b>{{myPreference.color}}</b></p>
    
   {{> footer }}
</body>
</html>